schemas/Freestyle/FreestyleSchemaDB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Resource">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="currentDate" type="xs:date" minOccurs="1" maxOccurs="1" />
				<xs:element name="doi" type="xs:anyURI" />
				<xs:element name="version" type="xs:string" minOccurs="0" />
				<xs:element name="year" type="xs:gYear" />
				<xs:element name="dateCreated" type="xs:date" />
				<xs:element name="dateEmbargoUntil" type="xs:date" minOccurs="0" maxOccurs="1" />
				<xs:element name="Rights" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="rights_id" type="xs:integer" />
							<xs:element name="text" type="xs:string" />
							<xs:element name="rightsIdentifier" type="xs:string" />
							<xs:element name="rightsURI" type="xs:anyURI" />
							<xs:element name="forSoftware" type="xs:integer" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ResourceType" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="resource_name_id" type="xs:integer" />
							<xs:element name="resource_type_general" type="xs:string" />
							<xs:element name="description" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Language">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="language_id" type="xs:integer" />
							<xs:element name="code" type="xs:string" />
							<xs:element name="name" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Titles">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Title" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="text" type="xs:string" />
										<xs:element name="type" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Authors">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Author" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="familyname" type="xs:string" />
										<xs:element name="givenname" type="xs:string" />
										<xs:element name="orcid" type="xs:string" />
										<xs:element name="Affiliations">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Affiliation"
														maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="affiliation_id"
																	type="xs:integer" />
																<xs:element name="name"
																	type="xs:string" />
																<xs:element name="rorId"
																	type="xs:string" minOccurs="0"
																	maxOccurs="1" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ContactPersons">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ContactPerson" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="familyname" type="xs:string" />
										<xs:element name="givenname" type="xs:string" />
										<xs:element name="position" type="xs:string" />
										<xs:element name="email" type="xs:string" />
										<xs:element name="website" type="xs:string" />
										<xs:element name="Affiliations">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Affiliation"
														maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="affiliation_id"
																	type="xs:integer" />
																<xs:element name="name"
																	type="xs:string" />
																<xs:element name="rorId"
																	type="xs:string" minOccurs="0"
																	maxOccurs="1" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OriginatingLaboratories">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OriginatingLaboratory" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="laboratoryname" type="xs:string" />
										<xs:element name="labId" type="xs:string" />
										<xs:element name="Affiliations">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Affiliation"
														maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="affiliation_id"
																	type="xs:integer" />
																<xs:element name="name"
																	type="xs:string" />
																<xs:element name="rorId"
																	type="xs:string" minOccurs="0"
																	maxOccurs="1" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Contributors" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Persons" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Person" minOccurs="0"
											maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="familyname" type="xs:string" />
													<xs:element name="givenname" type="xs:string" />
													<xs:element name="orcid" type="xs:string" />
													<xs:element name="Affiliations">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Affiliation"
																	maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element
																				name="affiliation_id"
																				type="xs:integer" />
																			<xs:element name="name"
																				type="xs:string" />
																			<xs:element name="rorId"
																				type="xs:string"
																				minOccurs="0"
																				maxOccurs="1" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Roles">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Role"
																	maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="name"
																				type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Institutions" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Institution" minOccurs="0"
											maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string" />
													<xs:element name="Affiliations">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Affiliation"
																	maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element
																				name="affiliation_id"
																				type="xs:integer" />
																			<xs:element name="name"
																				type="xs:string" />
																			<xs:element name="rorId"
																				type="xs:string"
																				minOccurs="0"
																				maxOccurs="1" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Roles">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Role"
																	maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="name"
																				type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Descriptions">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Description" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="type" type="xs:string" />
										<xs:element name="description" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ThesaurusKeywords">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Keyword" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="thesaurus_keywords_id" type="xs:integer" />
										<xs:element name="keyword" type="xs:string" />
										<xs:element name="scheme" type="xs:string" />
										<xs:element name="schemeURI" type="xs:anyURI" />
										<xs:element name="valueURI" type="xs:anyURI" />
										<xs:element name="language" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FreeKeywords" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Keyword" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="free_keywords_id" type="xs:integer" />
										<xs:element name="free_keyword" type="xs:string" />
										<xs:element name="isCurated" type="xs:integer" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SpatialTemporalCoverages">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SpatialTemporalCoverage" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="spatial_temporal_coverage_id"
											type="xs:integer" />
										<xs:element name="latitudeMin" type="xs:decimal"
											minOccurs="1" maxOccurs="1" />
										<xs:element name="latitudeMax" type="xs:decimal"
											minOccurs="0" maxOccurs="1" />
										<xs:element name="longitudeMin" type="xs:decimal"
											minOccurs="1" maxOccurs="1" />
										<xs:element name="longitudeMax" type="xs:decimal"
											minOccurs="0" maxOccurs="1" />
										<xs:element name="description" type="xs:string"
											minOccurs="1" maxOccurs="1" />
										<xs:element name="dateStart" type="xs:date" minOccurs="1"
											maxOccurs="1" />
										<xs:element name="timeStart" type="xs:time" minOccurs="0"
											maxOccurs="1" />
										<xs:element name="dateEnd" type="xs:date" minOccurs="1"
											maxOccurs="1" />
										<xs:element name="timeEnd" type="xs:time" minOccurs="0"
											maxOccurs="1" />
										<xs:element name="timezone" type="xs:string" minOccurs="1"
											maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RelatedWorks" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RelatedWork" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Identifier" type="xs:string" minOccurs="1"
											maxOccurs="1" />
										<xs:element name="Relation" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="IdentifierType" minOccurs="1"
											maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FundingReferences">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FundingReference" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Resource_has_Funding_Reference_id"
											type="xs:integer" />
										<xs:element name="Resource_resource_id" type="xs:integer" />
										<xs:element name="Funding_Reference_funding_reference_id"
											type="xs:integer" />
										<xs:element name="funding_reference_id" type="xs:integer" />
										<xs:element name="funder" type="xs:string" />
										<xs:element name="funderid" type="xs:integer" />
										<xs:element name="funderidtyp" type="xs:string" />
										<xs:element name="grantnumber" type="xs:string" />
										<xs:element name="grantname" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>